<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Test.AlertTest"/>
      <class name="Test.NavigationCommandTest"/>
      <class name="Test.TestLogin"/>
      <class name="Test.AlertTest1"/>
      <class name="Test.CheckboxTest"/>
      <class name="Test.DragNDropTest"/>
      <class name="Test.RadioButtonTest"/>
      <class name="Test.AssertFalseTest"/>
      <class name="Test.DropDownTest"/>
      <class name="Test.AssertEqualsTest"/>
      <class name="Test.ScrollWebPageTest"/>
      <class name="Test.AssertTrueTest"/>
      <class name="Test.BrowserCommandTest"/>
      <class name="Test.AssertNotEqualsTest"/>
      <class name="OrangeHRMProjectDemo.OrangeHRMProjectDemo.AppTest"/>
      <class name="Test.TestHello"/>
      <class name="Test.AssertNotNulllTest"/>
      <class name="Test.WebElementCommandTest"/>
      <class name="Test.AssertNullTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
